@font-face{font-family:'Alegreya SC';font-style:normal;font-weight:400;src:url(AlegreyaSC-400.woff2) format('woff2');}
@font-face{font-family:'Alegreya SC';font-style:normal;font-weight:500;src:url(AlegreyaSC-500.woff2) format('woff2');}
@font-face{font-family:'Alegreya SC';font-style:normal;font-weight:700;src:url(AlegreyaSC-700.woff2) format('woff2');}
@font-face{font-family:'Alegreya SC';font-style:normal;font-weight:800;src:url(AlegreyaSC-800.woff2) format('woff2');}
@font-face{font-family:'Atkinson Hyperlegible';font-style:italic;font-weight:400;src:url(AtkinsonHyperlegible-400i.woff2) format('woff2');}
@font-face{font-family:'Atkinson Hyperlegible';font-style:normal;font-weight:400;src:url(AtkinsonHyperlegible-400.woff2) format('woff2');}
@font-face{font-family:'Atkinson Hyperlegible';font-style:normal;font-weight:700;src:url(AtkinsonHyperlegible-700.woff2) format('woff2');}
