@font-face { font-family: "Alegreya SC"; font-weight: 500; font-display: swap; src: url(./AlegreyaSC-500.woff2) format("woff2"); }
@font-face { font-family: "Alegreya SC"; font-weight: 700; font-display: swap; src: url(./AlegreyaSC-700.woff2) format("woff2"); }
@font-face { font-family: "Alegreya SC"; font-weight: 800; font-display: swap; src: url(./AlegreyaSC-800.woff2) format("woff2"); }
@font-face { font-family: "Atkinson Hyperlegible"; font-weight: 400; font-display: swap; src: url(./AtkinsonHyperlegible-400.woff2) format("woff2"); }
@font-face { font-family: "Atkinson Hyperlegible"; font-weight: 700; font-display: swap; src: url(./AtkinsonHyperlegible-700.woff2) format("woff2"); }
